<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id='map'></div>

  <ion-grid id='grid'>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-button expand='block' fill='outline' no-margin no-padding>
          <div>
            <ion-icon name="heart"></ion-icon>
            <br>
            <label>Well Checks</label>
            <br>
            <p class='spanish'>chequeo <br> de bienestar</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button expand='block' fill='outline' no-margin no-padding>
          <div>
            <ion-icon name="eye"></ion-icon>
            <br>
            <label>Eye Care</label>
            <br>
            <p class='spanish'>cuidado <br> de ojos</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button expand='block' fill='outline' no-margin no-padding>
          <div>
            <ion-icon src='../../assets/brain.svg'></ion-icon>
            <br>
            <label>Mental Health</label>
            <br>
            <p class='spanish'>Salud mental</p>
          </div>
        </ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button expand='block' fill='outline' no-margin no-padding>
          <div>
            <ion-icon src='../../assets/toothbrush.svg'></ion-icon>
            <br>
            <label>Dental Care</label>
            <br>
            <p class='spanish'>Cuidado dental</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
