$square-width: 25vw;

#map {
  height: calc(100vh - 50vw - 66px);
}


ion-button {
  height: $square-width;
}

label {
  font-size: (3/25 * $square-width);
}

.spanish {
  font-size: (2/25 * $square-width);
}

ion-grid {

  ion-row {
    height: $square-width;
    // border: 1px solid #989aa2;
  }
  // ion-col {
  //   border: 1.5px solid #989aa2;
  // }
}

ion-icon {
  font-size: (2/5 * $square-width);//15vw on home window
}

.detail-popover {
  --width: 200% !important;
}
